.adress__section {
	background-color: #ffffff;
}
.adress__container {
	display: flex;
	gap: 20px;
	align-items: baseline;
	justify-content: center;
	@media screen and (max-width: 767px) {
		flex-direction: column;
	}
}
.adress__text {
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2196f3;
}
