.service__section {
	background-color: #ffffff;
	border-radius: 5px;
	padding: 50px 0;
}
.service-menu__item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	&--reverse {
		flex-direction: row-reverse;
	}
	@media screen and (max-width: 767px) {
		flex-direction: column;
	}
	margin-bottom: 25px;
}
.service-menu__title {
	text-align: center;
	margin: 20px 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #2196f3;
}
.service-menu__text {
	text-align: start;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #4e4e4e;
}
.service__btn {
	display: block;
	text-align: center;
	padding: 10px 0;
	width: 450px;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	cursor: pointer;
	color: #4e4e4e;
	background-color: #dcfff9;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms linear;
	&:hover,
	&:focus {
		color: #dcfff9;
		background-color: #1ebb92;
	}
}
.service-img {
	border-radius: 5px;
}
.about-us__title {
	text-align: center;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2196f3;
}
.about-us__text {
	text-align: start;
	padding-left: 150px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #4e4e4e;
}
.about-us__subtitle {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2196f3;
}
.about-us {
	border-radius: 5px;
	background-color: #ffffff;
}
.about-us-menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.about-us-menu__item {
	position: relative;
	padding-left: 20px;
	@media screen and (min-width: 768px) {
		padding-left: 130px;
	}
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #4e4e4e;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #2196f3;
	}
}
.wrap-img-about {
	position: relative;
}
.doctor__img {
	position: absolute;
	top: 0;
	left: 0;
}
